<div class="title">
  <h2>Champions of season {{vm.params.year}} races </h2>
  <a href="#/world"><span class="glyphicon glyphicon-arrow-left pull-right btn btn-default"></span></a>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Round</th>
      <th>Race Name</th>
      <th>Winner</th>
      <th>Driver id</th>
      <th>Nationality</th>
      <th>Race Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="race in vm.races" ng-class="{warning: vm.isChampion(race.Results[0].Driver.driverId)}">
      <td>{{race.round}}</td>
      <td>{{race.raceName}}</td>
      <td>{{race.Results[0].Driver.givenName}}&nbsp;{{race.Results[0].Driver.familyName}}</td>
      <td>{{race.Results[0].Driver.driverId}}</td>      
      <td>{{race.Results[0].Driver.nationality}}</td>
      <td>{{race.Results[0].Time.time}}</td>
    </tr>
  </tbody>
</table>