<div class="title">
  <h2>World Champions</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Driver</th>
      <th>Nationality</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in vm.standings | orderBy:'season': true">
      <td>
        <a href="#/season?year={{item.season}}">{{item.season}}</a>
      </td>
      <td>
        {{item.DriverStandings[0].Driver.givenName}}&nbsp;{{item.DriverStandings[0].Driver.familyName}}
      </td>
      <td>{{item.DriverStandings[0].Driver.nationality}}</td>
      <td>{{item.DriverStandings[0].points}}</td>
    </tr>
  </tbody>
</table>