.page-header{
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #000;
  font-family: 'bentonsans',Helvetica,sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 0;
}
.page-header i {
  color: #d31411
}

.title {
  text-align: center;
  margin-bottom: 1.5em;
}
.title h2 {
  display: inline;
}

